<h2 class="dialog-title">Add Transaction</h2>

<div class="form">

  <!-- ROW 1 -->
  <div class="row">
    <input 
      [(ngModel)]="transaction.description" 
      placeholder="Description" 
      class="input flex-2"
    />

    <input 
      [(ngModel)]="transaction.amount" 
      type="number" 
      placeholder="Amount" 
      class="input flex-1"
    />
  </div>

  <!-- ROW 2 -->
  <div class="row">
    <input 
      [(ngModel)]="transaction.location" 
      placeholder="Location" 
      class="input flex-2"
    />

    <input 
      [(ngModel)]="transaction.date" 
      type="date" 
      class="input flex-1"
    />
  </div>

</div>

<div class="actions">
  <button class="btn cancel" (click)="close()">Cancel</button>
  <button class="btn save" (click)="save()">Save</button>
</div>